.wrapper {width: 100%; height:800px;}

/*											Header										*/

.header {height:192px; background:#E9E9E9; position:relative;}
.header_img {width:139px; height:192px; margin-left:14px; float:left; z-index:1000; position:relative;}
.header_title {margin:30px 0 0 57px; float:left;}
.header_title_h1 {text-align:center; text-transform:uppercase; font-size:24px; font-weight:700; font-family:Arial;}
.header_title_h2 {text-align:center; font-size:13px; font-weight:700; font-family:Arial, Helvetica, sans-serif;}
.header_call {float:right; margin:17px 30px 0 0;}
.header_call_img {margin-top:4px; float:left; cursor:pointer;}
.header_call_number {float:left; margin-left:20px;}
.header_call_number_text {font-weight:700; font-size:32px;}
.header_call_number_wait {margin-top:6px; color:#97908B; }
.header_menu {background:#424242; width:100%; height:96px; position:absolute; bottom:0; z-index:0;}
.header_menu_1 {margin:20px 0 0 210px; color:#ffffff;}
.header_menu_1 ul li {list-style-type:none; float:left; margin-left:70px; cursor:pointer;}
.header_menu_1 ul li:first-child {margin-left:0;}
.header_menu_2 {margin:20px 0 0 275px; color:#ffffff;}
.header_menu_2 ul li {list-style-type:none; float:left; margin-left:79px; cursor:pointer;}
.header_menu_2 ul li:first-child {margin-left:0;}

/*											Content										*/

.content {margin-top:21px;}
.content_box_img {border:2px solid #E9E9E9; margin-left:3px; width:21%; max-width:270px; height:360px; float:left;}
.content_box_microphone {margin:20px 0 0 57px; width:60.7%; max-width:164px; height:244px;}
.content_box_microphone img {width:100%; height:100%;}
.content_box_pictures {margin-top:8px;}
.content_box_picture_1, .content_box_picture_2 {width:25.5%; max-width:69px; height:72px; border:1px solid #E9E9E9; float:left; cursor:pointer;}
.content_box_picture_1 {margin-left:57px;}
.content_box_picture_2 {margin-left:14px;}
.content_box_picture_1 img, .content_box_picture_2 img {width:100%; height:100%;}

@media screen and (max-width:1200px) {.content_box_microphone {margin-left:50px;} .content_box_picture_1 {margin-left:50px;} .content_box_picture_2 {margin-left:13px;}}
@media screen and (max-width:1100px) {.content_box_microphone {margin-left:47px;} .content_box_picture_1 {margin-left:47px;}}
@media screen and (max-width:1000px) {.content_box_microphone {margin-left:43px;} .content_box_picture_1 {margin-left:44px;} .content_box_picture_2 {margin-left:12px;}}
@media screen and (max-width:900px) {.content_box_microphone {margin-left:41px;} .content_box_picture_1 {margin-left:43px;}}

.content_box_right {float:left; margin-left:23px; width:75.3%; max-width:964px;}
.content_box_title {font-size:28px; font-weight:700; font-family:Arial, Helvetica, sans-serif;}
.content_box_stock {margin-top:23px; background:#E9E9E9; width:100%; border-radius:4px; height:68px; font-weight:700;}
.content_box_price {margin-left:24px;}
.content_box_price_origin {font-size:30px; float:left; margin-top:16px;}
.crossed_red {text-decoration:line-through; color:#F00; font-size:24px; float:left; margin:19px 0 0 15px;}
.content_box_pay {float:right; height:100%; width:160px; background:#FED430; cursor:pointer; font-size:30px; border-radius:4px; text-align:center;}
.content_box_pay_text {margin-top:16px;}
.content_box_instruction {margin-top:16px;}
.content_box_instruction_colors {float:left; width:36.8%; max-width:355px;}
.content_box_instruction_colors_title {font-size:20px; font-weight:700;}
.content_box_instruction_colors_img {margin-top:13px; border:2px solid #E9E9E9; width:37.7%; max-width:134px; height:42px;}
.content_box_instruction_picture_1, .content_box_instruction_picture_2, .content_box_instruction_picture_3 {float:left; margin:10px 0 0 30px; width:18px; height:18px; cursor:pointer;}
.content_box_instruction_picture_1 {margin-left:10px;}
.content_box_instruction_picture_2 {background:#E8E8E8;}
.content_box_instruction_picture_1 img, .content_box_instruction_picture_2 img, .content_box_instruction_picture_3 img {width:100%; height:100%;}
@media screen and (max-width:1200px) {.content_box_instruction_picture_2, .content_box_instruction_picture_3 {margin-left: 27px;}}
@media screen and (max-width:1100px) {.content_box_instruction_picture_2, .content_box_instruction_picture_3 {margin-left: 19px;}}
@media screen and (max-width:1050px) {.content_box_instruction_picture_2, .content_box_instruction_picture_3 {margin-left: 17px;}}
@media screen and (max-width:1000px) {.content_box_instruction_picture_2, .content_box_instruction_picture_3 {margin-left: 15px;}}
@media screen and (max-width:900px) {.content_box_instruction_picture_2, .content_box_instruction_picture_3 {margin-left: 13px;}}
.content_box_instruction_characteristics {margin-top:18px;}
.content_box_instruction_characteristics_title {font-size:20px; font-weight:700;}
.content_box_instruction_characteristics_ul {}
.content_kind {margin-top:17px; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.content_box_model {float:left; width:36.8%; max-width:355px;}
.content_box_model_title {font-size:20px; font-weight:700; text-align:center;}
.content_box_model_text {margin-top:13px; font-size:17px; font:Arial, Helvetica, sans-serif;}
.content_characteristics {margin-top:38px;}
.content_characteristics_title {font-size:20px; font-weight:700;}
.content_characteristics_ul_left, .content_characteristics_ul_right {float:left; margin-top:31px; width:32.4%; max-width:415px; font-size:20px;}
.content_characteristics_ul_right {margin-left:55px;}
.content_characteristics_kind {margin-top:13px;}
.content_characteristics_kind:first-child {margin-top:0;}
.dots {letter-spacing: 5px;}
.content_advantages {margin-top:50px;}
.content_advantages_left, .content_advantages_right {float:left; width:32.4%; max-width:415px; font-size:20px;}
.content_advantages_right {margin-left:55px;}
.content_advantages_title {font-size:20px; font-weight:700;}
.content_advantages_ul {margin-top:20px;}
.content_advantages_ul ul li {margin-left:50px;}
.content_advantages_add {margin-top:40px;}
.content_advantages_exclusive {margin-top:16px;}
.content_advantages_work {margin-top:30px;}
.content_advantages_wire {margin-top:16px;}
.content_advantages_microphone {margin-top:16px;}
.content_advantages_add_title, .content_advantages_exclusive_title, .content_advantages_music_title, .content_advantages_work_title, .content_advantages_wire_title, .content_advantages_microphone_title {font-size:20px; font-weight:700;}
.content_reviews {margin-top:31px;}
.content_reviews_title {font-size:28px; font-weight:700; font-family:Arial, Helvetica, sans-serif;}
.content_review {margin-top:23px;}
.content_review_name_text {float:left;}
.content_review_name_stars {float:left; margin-left:15px;}
.content_review_star {float:left; width:15px; height:15px; background:url(../img/star.png) no-repeat;}
.content_review_add {margin-top:31px;}
.content_review_add_title {font-size:28px; font-weight:700; font-family:Arial, Helvetica, sans-serif;}
.content_review_add_input {margin:24px 0 0 6px;}
.content_review_add_input_input {width:255px; height:25px; font-size:20px;}
.content_review_evaluation {margin-top:23px;}
.content_review_evaluation_text {font-size:20px; float:left;}
.content_review_evaluation_stars, .content_review_evaluation_star_1, .content_review_evaluation_star_2, .content_review_evaluation_star_3, .content_review_evaluation_star_4, .content_review_evaluation_star_5 {float:left; border-right:2px solid #8A8A8A; margin:5px 0 0 5px; padding-right:5px;}
.content_review_evaluation_star_5 {border:none;}
.content_review_evaluation_star {float:left; width:15px; height:15px; background:url(../img/star_transparent.png) no-repeat; cursor:pointer;}
.hidden {display:none;}
.content_review_add_textarea {margin:24px 0 0 6px;}
.content_review_add_textarea_textarea {width:80%; max-width:1000px; height:105px; font-size:20px;}
.content_review_add_submit {margin:6px 0 0 6px;}
.content_review_add_submit_submit {background:#FED430; border:2px solid #F4A421; width:161px; height:33px; border-radius:4px; font-weight:700; font-size:16px; cursor:pointer;}
.test_form {margin:90px 0 0 53px; color:#6F6F6F; width:100%;}
.test_form_title {font-size:24px; font-weight:700;}
.test_form_fio, .test_form_phone, .test_form_mail, .test_form_info, .test_form_quo {float:left; margin-top:60px;}
.test_form_fio {margin-top:35px;}
.test_form_fio_text, .test_form_phone_text, .test_form_mail_text, .test_form_info_text, .test_form_quo_text {float:left; width:165px; line-height:1.5; font-weight:700;}
.required {color:#F00; margin-left:-5px;}
.fio_input, .phone_input, .mail_input, .info_input, .quo_input {float:left;}
.lorem_input {margin-left:165px;}
.form, .form_fio, .form_phone, .form_mail {width:850px; height:41px; border-radius:4px; margin-top:-7px; font-size:22px; text-indent:10px;}
.form_info {width:850px; height:98px; border-radius:4px; margin-top:-7px; font-size:22px; text-indent:10px; padding-top:10px;}
.form_instruction, .fio_instruction, .phone_instruction, .mail_instruction, .info_instruction {margin:4px 0 0 28px; font-size:18px; width:822px;}
.phone_instruction {color:#D3D3D3;}
.pickup_select {width:850px; height:41px; border-radius:4px;}
@media screen and (max-width:1200px) {.form {width:700px;} .pickup_select {width:700px;} .form_info {width:700px;} .form_instruction {width:672px;}}
@media screen and (max-width:1100px) {.form {width:670px;} .pickup_select {width:670px;} .form_info {width:670px;} .form_instruction {width:642px;}}
@media screen and (max-width:1000px) {.form {width:630px;} .pickup_select {width:630px;} .form_info {width:630px;} .form_instruction {width:602px;}}
@media screen and (max-width:900px) {.form {width:600px;}  .pickup_select {width:600px;} .form_info {width:600px;} .form_instruction {width:572px;}}
.quo_div {margin-top:5px;}
.quo_div:first-child {margin-top:0;}
.quo_span {cursor:pointer;}
.quo_div_check {margin:25px 0 0 6px;}
.checkbox, .radio {display: none;}
.checkbox-custom, .radio-custom {width: 16px; height: 16px; border:1px solid #C1C1C1; background:#FFF; position: relative;}
.checkbox-custom, .radio-custom, .label {display: inline-block; vertical-align: middle;}
.radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
	border:6px solid #419BF9;
}

.checkbox + .checkbox-custom::before{ 
    content: '\2713';
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
	padding:3px 0 0 4px;
}

.checkbox:checked + .checkbox-custom::before {
	display:block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
	width:14px;
	height:15px;
	background:#419BF9;	 
}
.label {cursor:pointer;}
.radio-custom, .radio:checked + .radio-custom::before {border-radius: 50%;}

#form_delivery {margin-top:90px;}
.delivery_choise {margin-top:50px;}
.delivery_choise:first-child {margin-top:25px;}
.delivery_choise label .label {margin-left:7px;}

.delivery_div {margin-top:40px;}
.delivery_div_courier {display:block;}
.delivery_div_pickup {display:none;}
#delivery_h1 {font-size:18px;}
.float_input {margin:40px 0 0 165px;}

.form_submit {float:right; margin:65px 45px 0 0;}
@media screen and (min-width:1601px) {.form_submit {margin-right:360px;}}
@media screen and (max-width:1600px) {.form_submit {margin-right:360px;}}
@media screen and (max-width:1500px) {.form_submit {margin-right:280px;}}
@media screen and (max-width:1400px) {.form_submit {margin-right:220px;}}
@media screen and (max-width:1300px) {.form_submit {margin-right:150px;}}
@media screen and (max-width:1200px) {.form_submit {margin-right:75px;}}
.form_submit_submit {border:2px solid #DCDCDC; width:110px; height:40px; text-align:center; border-radius:18px; background-color:#fff; background-image:url(../img/arrow.png); background-position:77px 16px; background-repeat:no-repeat; cursor:pointer;}


.navigation li:hover {color:#37BF78;}
.navigation li a {display: block;}
.navigation ul {display: none; position: absolute; list-style: none; margin-left: -3px; padding: 0; overflow: hidden;}
.navigation ul li {float: none; line-height: 40px; margin-left:0; padding: 0 20px;}
.navigation li:hover > ul {display: block; background: #222;}
.navigation li li a:hover {font-weight:700;}

/*											Clear										*/
.clear {clear:both;}







